{% extends 'layout.html' %}
{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Upload a vegetable image and the app will predict what it is!</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="image" class="pure-button pure-button-primary">
            <input type="submit" value="Submit" class="pure-button pure-button-primary">
        </form>
    </div>
</div>

{% endblock %}